{% extends "base.html" %}
{% load static %}


        {% block tittle-page%} Question by tag {% endblock tittle-page %}

        {% block basic-content %}
      <div class="row">
        <div class="col-lg-6" >
           <p style="font-size: 250%;">Tag:  &nbsp&nbsp {{ tag }} </p>
        </div>
        
      </div>
     
       <div class="row">
        <div class="col-lg-9" >
          <div class="col-md-12" style="border: 2px solid black;border-radius: 10px;padding:20px; margin-top:30px;">
                  <div class="col-md-12">
                        <div class="col-md-3">
                             <img style="padding-top: 10px;" src="{% static "images/index.jpeg" %}" width="100%">
                        </div>
                        <div class="col-md-9">
                             <h2> <a  style=" vertical-align:top;" href="#"> <ins>Ho to build a moon park? </ins></a>  </h2>
                               <p style="vertical-align:top;">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст... </p>
                       </div>
                  </div>
                  <div class="col-md-12">
                        <div class="col-md-3" style="text-align:center;">
                        <form action="">
                             <p><input  style="width: 4em" size="2" type="number"  value="5" min="5" max="40" step="1"></p>
                        </form>
                      </div>
                        <div class="col-md-6">
                             <a href="#"> <ins>answer(3)</ins></a> &nbsp&nbsp Tags: <a href="#">  &nbsp <ins>black jack</ins></a> <a href="#"> <ins>bender</ins></a> 
                       </div>
                  </div>
          </div>
          <div class="col-md-12" style="border: 2px solid black;border-radius: 10px;padding:20px;margin-top:30px;">
                   <div class="col-md-12">
                        <div class="col-md-3">
                             <img style="padding-top: 10px;" src="{% static "images/index.jpeg" %}" width="100%">
                        </div>
                        <div class="col-md-9">
                             <h2> <a  style=" vertical-align:top;" href="#"> <ins>Ho to build a moon park? </ins></a>  </h2>
                               <p style="vertical-align:top;">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст... </p>
                       </div>
                  </div>
                  <div class="col-md-12">
                        <div class="col-md-3" style="text-align:center;">
                        <form action="">
                             <p><input  style="width: 4em" size="2" type="number"  value="5" min="5" max="40" step="1"></p>
                        </form>
                      </div>
                        <div class="col-md-6">
                             <a href="#"> <ins>answer(3)</ins></a> &nbsp&nbsp Tags: <a href="#">  &nbsp <ins>black jack</ins></a> <a href="#"> <ins>bender</ins></a> 
                       </div>
                  </div>
          </div>



          <div class="col-md-12" style="border: 2px solid black;border-radius: 10px;padding:20px;margin-top:30px;">
                   <div class="col-md-12">
                        <div class="col-md-3">
                             <img style="padding-top: 10px;" src="{% static "images/index.jpeg" %}" width="100%">
                        </div>
                        <div class="col-md-9">
                             <h2> <a  style=" vertical-align:top;" href="#"> <ins>Ho to build a moon park? </ins></a>  </h2>
                               <p style="vertical-align:top;">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст... </p>
                       </div>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-3" style="text-align:center;">
                        <form action="">
                             <p><input  style="width: 4em" size="2" type="number" value="5" min="5" max="40" step="1"></p>
                        </form>
                      </div>
                        <div class="col-md-6">
                             <a href="#"> <ins>answer(3)</ins></a> &nbsp&nbsp Tags: <a href="#">  &nbsp <ins>black jack</ins></a> <a href="#"> <ins>bender</ins></a> 
                       </div>
                  </div>
          </div>
            {% endblock basic-content %}









 

 

